<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frags/head"></head>
<body>
<header>
    <nav th:replace="frags/navbar"></nav>
</header>

<main class="p-2 align-content-center  my-register-div">
    <section class="mainadd">
        <div class="container">
            <div class="row tm-mt-big justify-content-center">
                    <div class="bg-transparent tm-block">
                        <div class="row">
                            <div class="col-12">
                                <h1 class="text-lightgreen border-white pl-4 text-center" >За нас</h1>
                                <hr class="border-bottom w-75">

                                <br>
                                <br>
                                <br>
                                <br>
                                <h4 class="tm-block-title d-inline-block text-center align-content-center">Glutfree.eu е портал за храните без глутен !</h4>

                                <p>Порталът предлага информация за храните без глутен на българския пазар.
                                    Целта ни е да съберем колкото се може повече информация за храните без глутен и да я предоставим по лесен и достъпен начин за търсене.
                                    Бихме искали да направим база и на обектите, където може да се намери безглутенова храна в България.
                                </p><p>  Порталът е създаден изцяло с некомерсиална цел и в момента се издържа изцяло с лични средства.
                                    Нямаме за цел да печелим от него, а просто да помогнем с информация!
                                    Идеята ни е да тестваме по една храна на всеки две седмици и да споделяме тази информация публично !
                                </p> <p>
                                Всички тестове показни на страницата, не гарантират, че във вески момент тези храни нямат наличние на глутен.

                                </p>
                                <br>
                                <br>
                                <br>
                                <br>
                                                              <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>


                            </div>
                        </div>
                        <div class="row mt-4 tm-edit-product-row">
                            <div class="col-xl-7 col-lg-7 col-md-12">

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="frags/footer"></footer>

</div>


</body>

</html>