<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="frags/head"></head>
<body>
<header>
    <nav th:replace="frags/navbar"></nav>
</header>


<main class="align-content-center bg-transparent">
    <section class="mainadd">
    <div class="justify-content-center">
        <h3 class="text-lightgreen border-white pl-4 text-center" >Детайли за продукта</h3>
        <hr class="border-bottom w-75">
        <div id="container-legend" class="text-center" >
            <div class="font-weight-bold h5" id="text1" style="display:inline; white-space:nowrap;">
                Легенда :
            </div>
            <div id="text2" style="display:inline; white-space:nowrap;">
                Тествано с Нима :            </div>
            <div class="pr-4" id="image2" style="display:inline;">
                <img src="/img/nima-logo.png" alt="pic"
                     style="height: 25px; width: 25px;">            </div>
            <div id="text3" style="display:inline; white-space:nowrap;">
                Отбелязано без глутен :            </div>
            <div class="pr-4"  id="image3" style="display:inline;">
                <img src="/img/GlutenFree-s-logo.png" alt="pic"
                     style="height: 25px; width: 25px; ">            </div>
            <div id="text4" style="display:inline; white-space:nowrap;">
                Отбелязано без лактоза :            </div>
            <div class="pr-4"  id="image4" style="display:inline;">
                <img  src="/img/LactoseFree-s-logo.png" alt="pic"
                      style="height: 25px; width: 25px;">            </div>
            <div id="text5" style="display:inline; white-space:nowrap;">
                Тествано с GlutenToxHome :            </div>
            <div class="pr-4"  id="image5" style="display:inline;">
                <img  src="/img/logo-tox-sm2.png" alt="pic"
                      style="height: 25px; width: 40px;">            </div>

        </div>
<!--        <hr class="border-bottom w-75">-->

    </div>
    <div th:object="${food}" class="row rounded mb-5 mt-3">
        <div  class="col-md-3  text-light rounded">
            <dl class="row pt-3 border-1">
                <dt class="col-sm-3 text-lightgreen  pl-3" >Име:</dt>
                <dd class="col-sm-9 text-lightgreen text-left " th:text="|*{name}|"></dd>
                <dt class="col-sm-3 text-lightgreen  pl-3 ">Марка: </dt>
                <dd class="col-sm-9 text-lightgreen text-left  " th:text="| *{brand}|"></dd>
                <dt class="col-sm-3 text-lightgreen pl-3" >Детайли:</dt>
                <dd class="col-sm-9 text-lightgreen text-left " th:text="|*{details}|"></dd>
                <dt class="col-sm-3 text-lightgreen pl-3">ДатаТест: </dt>
                <dd class="col-sm-9 text-lightgreen text-left  " th:text="| *{pictureDate}|"></dd>
                <dt class="col-sm-3 text-lightgreen pl-3 align-content-center ">Магазин: </dt>
                <a  class="text-lightgreen" th:href= "*{store}">
                    <dd class="col-sm-9 text-lightgreen text-left">
                        <img class="p-1" th:src= "*{storelogoUrl}" alt="pic"
                             style="height: 40px; width: 40px;">
                </a></dd>

                <dt class="col-sm-3 text-lightgreen pl-3 ">Тестван: </dt>
                <img th:if="*{nimaTested}" src="/img/nima-logo.png" alt="pic"
                     style="height: 40px; width: 40px;">

                <img th:if="*{markedAsGF}" src="/img/GlutenFree-s-logo.png" alt="pic"
                     style="height: 40px; width: 40px; padding-left: 5px">

                <img th:if="*{withoutLactose}" src="/img/LactoseFree-s-logo.png" alt="pic"
                     style="height: 40px; width: 40px;">
                <img th:if="*{glutenTox}" src="/img/logo-tox-sm2.png" alt="pic"
                     style="height: 40px; width: 60px;">


            </dl>
        </div>

        <div  class="col-md-8  p-2 text-light rounded border-1 border-darkgreen img-magnifier-container">
            <img th:src="*{urlToPic}" class="card-img-top center" alt="pic"
                 data-holder-rendered="true"
                 style="height: 425px; width: 400px;  text-align: center;">
            <img th:src="*{urlToLabelImage}" class="card-img-top center" alt="pic"
                 data-holder-rendered="true"
                 style="height: 425px; width: 400px;  text-align: center;">
            <p class="text-lightgreen " style="white-space:nowrap" th:text="|Снимка Facebook, публикувана от: *{copyright}|" >Снимка:</p>

        </div>

        <script>

        </script>


    </div>

        </section>
</main>
<footer th:replace="frags/footer"></footer>


</body>
</html>
