<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="frags/head"></head>
<body>
<header>
    <nav th:replace="frags/navbar"></nav>
</header>


<main class="align-content-center bg-transparent">
    <section class="mainadd">
    <div class="justify-content-center">
        <h1 class="text-lightgreen border-white pl-4 text-center" >Детайли за обратната връзка</h1>
        <hr class="border-bottom w-75">

    </div>
    <div th:object="${feedback}" class="row rounded mb-5 mt-3">
        <div  class="col-md-3 bg-blur p-2 text-light rounded">
            <img th:src="*{urlToPic}" class="card-img-top center" alt="pic"
                 data-holder-rendered="true"
                 style="height: 225px; width: 200px;  text-align: center;">
            <dl class="row pt-3">
                <dt class="col-sm-3">Име :</dt>
                <dd class="col-sm-9" th:text="|*{name}|">Name</dd>

                <dt class="col-sm-3">Пълент текст: </dt>
                <dd class="col-sm-9" th:text="| *{feedbackText}|">feedbackText
                </dd>

                <dt class="col-sm-3">Линк към обекта: </dt>
                <dd class="col-sm-9" th:text="| *{webSiteUrl}|">productsList
                </dd>

                <dt class="col-sm-3">Тип на обекта: </dt>
                <dd class="col-sm-9" th:text="| *{typeOfPlace.name()}|">productsList
                </dd>
<!--          TODO-->

            </dl>
        </div>
    </div>

        </section>
</main>
<footer th:replace="frags/footer"></footer>
</body>
</html>
