<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="frags/head"></head>
<body>
<header>
<nav th:replace="frags/navbar"></nav>
    </header>


<main class="p-1 align-content-center  my-register-div">
    <section class="mainadd">
        <h1 class=" py-2 text-lightgreen border-bottom border-darkgreen mb-5">Моля да ни извините</h1>
        <p class="text-lightgreen">
            Здравейте, в момента тече профилактика !<br/>
            Моля да ни извините<br/>
        </p>
    </section>
</main>


<footer th:replace="frags/footer"></footer>
</body>
</html>