<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frags/head"></head>
<body>
<header>
    <nav th:replace="frags/navbar"></nav>
</header>

<main class="p-2 align-content-center  my-register-div">
    <section class="mainadd">
        <div class="container">
            <div class="row tm-mt-big justify-content-center">
                    <div class="bg-transparent tm-block">
                        <div class="row">
                            <div class="col-12">
                                <section class="categories">
                                <h1 class="text-lightgreen border-white pl-4 text-center" >Всички продукти по категории.</h1>
                                <hr class="border-bottom w-75">

                                <ul>
                                    <li><a href="/food/category/meat">
                                        <img src="../../img/categories/meat.png" alt="pic">
                                        <h3>Месни</h3>
                                    </a>
                                        <p>Месо, колбаси ...</p>
                                    </li>

                                    <li><a href="/food/category/milk">
                                        <img src="../../img/categories/milk.png" alt="pic">
                                        <h3>Млечни</h3>
                                    </a>
                                        <p>Млечни продукти</p>
                                    </li>
                                    <li><a href="/food/category/salted">
                                        <img src="../../img/categories/salted.png" alt="pic">
                                        <h3>Солени</h3>
                                    </a>
                                        <p>Соленки, солети ...</p>
                                    </li>
                                    <li><a href="/food/category/canned">
                                        <img src="../../img/categories/canned.png" alt="pic">
                                        <h3>Консервирани</h3>
                                    </a>
                                        <p>Сладка, царевица ...</p>
                                    </li>
                                    <li><a href="/food/category/sweets">
                                        <img src="../../img/categories/sweets.png" alt="pic">
                                        <h3>Сладки</h3>
                                    </a>
                                        <p>Бисквити, бонбони ...</p>
                                    </li>

                                    <li><a href="/food/category/choco">
                                        <img src="../../img/categories/choco.png" alt="pic">
                                        <h3>Шоколадови</h3>
                                    </a>
                                        <p>Бонбони, шоколади ...</p>
                                    </li>
                                    <li><a href="/food/category/bread">
                                        <img src="../../img/categories/bread.png" alt="pic">
                                        <h3>Тестени</h3>
                                    </a>
                                        <p>Хляб, франзели ...</p>
                                    </li>
                                    <li><a href="/food/category/flour">
                                        <img src="../../img/categories/flour.png" alt="pic">
                                        <h3>Брашна</h3>
                                    </a>
                                        <p>Брашна, подправки ...</p>
                                    </li>

                                    <li><a href="/food/category/drinks">
                                        <img src="../../img/categories/drinks.png" alt="pic">
                                        <h3>Напитки</h3>
                                    </a>
                                        <p>Млека, сок</p>
                                    </li>
                                    <li><a href="/food/category/icecream">
                                        <img src="../../img/categories/icecream.png" alt="pic">
                                        <h3>Сладоледи </h3>
                                    </a>
                                        <p>Сладоледи ...</p>
                                    </li>
                                    <li><a href="/food/category/others">
                                        <img src="../../img/categories/others.png" alt="pic">
                                        <h3>Други</h3>
                                    </a>
                                        <p>Паста за зъби, пластелин</p>
                                    </li>


                                </ul>
                                </section>

                            </div>
                        </div>
                        <div class="row mt-4 tm-edit-product-row">
                            <div class="col-xl-7 col-lg-7 col-md-12">

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="frags/footer"></footer>

</div>


</body>

</html>