<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frags/head"></head>
<body>
<header>
    <nav th:replace="frags/navbar"></nav>
</header>

<main class="p-5 align-content-center bg-blur ">


    <hr class="border-bottom w-50">
    <div class="mt-5 col-sm-12 my-auto align-self-center">
        <input id="searchInput" class="form-control mr-sm-2 w-50" type="search"
               placeholder="Enter album title or artist name" aria-label="Search">
    </div>
    <hr class="border-bottom w-75">
    <div class="row mt-5" id="foodList">
        <!-- Start single album -->
        <div class="col-md-3">
            <div class="card mb-4 box-shadow">

                <div class="card-body">
                    <div class="text-center">
                        <p class="card-text border-bottom ">Name: Name of album</p>
                        <p class="card-text border-bottom ">Artist: Metallica</p>

                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary">Details</a>
                        </div>
                        <div class="btn-group">
                            <a type="button" class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- EO: Start single album -->
    </div>
</main>
<footer th:replace="frags/footer"></footer>
<script th:src="@{js/search-bar.js}"></script>
</body>
</html>
