<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frags/head"></head>
<body>
<header>
    <nav th:replace="frags/navbar"></nav>
</header>

<main class="p-2 align-content-center my-register-div">
    <section class="mainadd">
        <div class="container">
            <div class="row tm-mt-big justify-content-center">
                <div class="bg-transparent tm-block">
                    <div class="row">
                        <div class="col-12">
                            <h1 class="text-lightgreen border-white pl-4 text-center">Политика за поверителност</h1>
                            <hr class="border-bottom w-75">

                            <br>
                            <p>Последна актуализация: 2026 г.</p>

                            <h4 class="text-lightgreen">1. Обща информация</h4>
                            <p>GlutenFree.eu е портал с некомерсиална цел, предоставящ информация за безглутенови продукти на българския пазар. Настоящата политика за поверителност описва как събираме, използваме и защитаваме вашата информация.</p>

                            <h4 class="text-lightgreen">2. Събирана информация</h4>
                            <p>Приложението GlutenFree не събира лични данни от потребителите. Приложението само показва публично достъпна информация от уебсайта www.glutfree.eu.</p>
                            <p>При регистрация в уебсайта се събират: имейл адрес, потребителско име и регион. Тази информация се използва единствено за функционирането на портала.</p>

                            <h4 class="text-lightgreen">3. Използване на информацията</h4>
                            <p>Информацията не се продава, споделя или предоставя на трети страни. Използва се единствено за предоставяне на услугата.</p>

                            <h4 class="text-lightgreen">4. Бисквитки (Cookies)</h4>
                            <p>Уебсайтът може да използва бисквитки за управление на сесии при влизане в профила. Мобилното приложение не използва бисквитки.</p>

                            <h4 class="text-lightgreen">5. Сигурност</h4>
                            <p>Данните се съхраняват сигурно. Порталът не съхранява финансова информация.</p>

                            <h4 class="text-lightgreen">6. Контакт</h4>
                            <p>При въпроси относно поверителността, моля свържете се с нас чрез страницата за контакт на www.glutfree.eu.</p>

                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="frags/footer"></footer>

</body>
</html>
