<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="frags/head"></head>
<body>
<header>
    <nav th:replace="frags/navbar"></nav>
</header>
<main class="p-2 text-center  my-register-div">
    <section class="mainadd">
    <h1 class=" py-2 text-lightgreen border-bottom border-darkgreen">Регистрация</h1>
    <div class=" py-2 d-flex justify-content-center ">
<!--        <div class="row g-3 align-items-center">-->
<!--            <img alt="Picture of Madonna" src="/img/madonna.jpg" class="w-50 rounded">-->
<!--        </div>-->
        <div class="row g-3">
            <form
                    th:action="@{/users/register}"
                    th:object="${registrationBindingModel}"
                    method="POST">
                <!-- Username -->
                <div>
                    <div class="col-auto">
                        <label for="inputUsername" class="col-form-label text-lightgreen">Потребителско име</label>
                    </div>
                    <div class="col-auto">
                        <input name="username"
                               th:value="*{username}"
                               th:errorclass="is-invalid"
                               type="text"
                               required minlength="3" maxlength="50"
                               id="inputUsername"
                               class="form-control"
                               aria-describedby="usernameHelpInline">
                          <small id="usernameError"
                               class="invalid-feedback text-light form-text bg-danger rounded">Username length must be more than 3 characters</small>
                        <small th:if="${userExistsError}" id="usernameUniqueError"
                               class="text-light form-text bg-danger rounded">Username is already occupied</small>

                    </div>
                </div>

                <div>
                    <div class="col-auto">
                        <label for="inputEmail" class="col-form-label text-lightgreen">Email</label>
                    </div>
                    <div class="col-auto">
                        <input name="email"
                               th:value="*{email}"
                               th:errorclass="is-invalid"
                               type="text"
                               id="inputEmail"
                               class="form-control"
                               aria-describedby="emailHelpInline">
                        <small id="emailError"
                          class="invalid-feedback text-light form-text bg-danger rounded">Must be valid email</small>
                    </div>
                </div>
                <!-- EO: Email -->

                <!-- Password -->
                <div>
                    <div class="col-auto">
                        <label for="inputPassword" class="col-form-label text-lightgreen">Парола</label>
                    </div>
                    <div class="col-auto">
                        <input name="password"
                               th:errorclass="is-invalid"
                               type="password"
                               required minlength="5" maxlength="50"
                               id="inputPassword"
                               class="form-control"
                               aria-describedby="passwordHelpInline">
                        <small id="passwordError"
                               class="invalid-feedback text-light form-text bg-danger rounded">
                            Password length must be between 5 and 50 characters and passwords should match.
                        </small>
                    </div>
                </div>
                <!-- EO: Password -->

                <!-- Password confirm -->
                <div>
                    <div class="col-auto">
                        <label for="inputConfirmPassword" class="col-form-label text-lightgreen">Повторете паролата</label>
                    </div>
                    <div class="col-auto">
                        <input name="confirmPassword"
                               th:errorclass="is-invalid"
                               type="password"
                               id="inputConfirmPassword"
                               required minlength="5" maxlength="50"
                               class="form-control"
                               aria-describedby="confirmPasswordHelpInline">
                        <small id="confirmPasswordError"
                               class="invalid-feedback text-light form-text bg-danger rounded">
                            Password length must be between 5 and 50 characters and passwords should match.
                        </small>
                    </div>
                </div>
                <!-- EO: Password confirm -->

                <div class="d-flex justify-content-center mt-4">
                    <button class="btn btn-primary btn-block w-50" type="submit">Регистрация</button>
                </div>

            </form>
        </div>
    </div>
        </section>
</main>
<footer th:replace="frags/footer"></footer>

</body>
</html>
