<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="frags/head"></head>
<body>
<header>
    <nav th:replace="frags/navbar"></nav>
</header>
<main class="p-1 text-center my-main">
    <section class="mainadd">
        <h1 class=" py-2 text-lightgreen border-bottom border-darkgreen">Очаквайте скоро !!!</h1>
        <div class="mt-5 col-sm-12 my-auto align-self-center">
            <input id="searchInput" class="form-control mr-sm-2 w-75 " type="search"
                   placeholder="Търси по име на рецепта" aria-label="Search">
        </div>
        <hr class="border-bottom w-75">

        <div class="row">
            <div class="col-md-12 card-columns" id="receiptList">
                <!--            <div class="card-deck">-->
                <div th:each="a : ${receipts}" th:object="${a}" class="card mb-4 box-shadow bg-transparent">
                    <img th:src="*{urlToPic}" class="card-img-top" alt="Thumbnail [100%x225]"
                         data-holder-rendered="true"
                         style="height: 225px; width: 200px;">
                    <div class="card-body">
                        <div class="text-center">
                            <p class="card-text border-bottom "th:text="|Име: *{name}|"></p>
                            <p class="card-text border-bottom "th:text="|Описание: *{description}|" ></p>
                            <p class="card-text border-bottom "th:text="|Списък с продукти: *{productsList}|" ></p>
                            <p class="card-text border-bottom "th:text="|Време за приготвяне: *{duration}|" ></p>
                            <p class="card-text border-bottom" th:text="|Тип храна: *{typeOfMeal}|" ></p>
                        </div>


                        <div class="d-flex justify-content-between align-items-center">

                            <div class="btn-group pt-2">
                                <a th:href="@{/receipt/details/{id}(id= *{id})} "  type="button"  class="btn btn-primary btn-block w-30">Детайли</a>
                            </div>
                            <div sec:authorize="hasRole('ROLE_ADMIN')" class="p-2 d-flex justify-content-center">
                                <a th:href="@{/receipt/delete/{id}(id= *{id})}" type="button" class="btn btn-primary btn-block w-30">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--        </div>-->
            </div>

        </div>
    </section>
</main>

<footer th:replace="frags/footer"></footer>
<script th:src="@{/js/receipt-search-bar.js}"></script>
</body>
</html>
