<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org"-->
<!--      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">-->

<!--<head th:replace="frags/head"></head>-->
<!--<body>-->
<!--<header>-->
<!--    <nav th:replace="frags/navbar"></nav>-->
<!--</header>-->
<!--<main class="p-1 text-center my-main">-->
<!--    <section class="mainadd">-->
<!--        <h1 class=" py-2 text-lightgreen border-bottom border-darkgreen">Най разглеждани храни</h1>-->
<!--        <hr class="border-bottom w-75">-->
<!--        <div class="row">-->
<!--            <div class="col-md-12 card-columns" id="foodList">-->
<!--                &lt;!&ndash;            <div class="card-deck">&ndash;&gt;-->
<!--                <div th:each="a : ${topthreeVisitedFood}" th:object="${a}" class="card mb-4 box-shadow bg-transparent">-->
<!--                    <img th:src="*{urlToPic}" class="card-img-top" alt="Thumbnail [100%x225]"-->
<!--                         data-holder-rendered="true"-->
<!--                         style="height: 225px; width: 200px;">-->
<!--                    <div class="card-body">-->
<!--                        <div class="text-center">-->
<!--                            <p class="card-text border-bottom "th:text="|Име: *{name}|"></p>-->
<!--                            <p class="card-text border-bottom "th:text="|Марка: *{brand}|" ></p>-->
<!--                            <a th:href= "*{store}">  <p class="card-text border-bottom "th:text="|Магазин: *{store}|" ></p> </a>-->

<!--                                <img th:if="*{nimaTested}" src="../img/nima-logo.png" alt="pic"-->
<!--                                     style="height: 50px; width: 50px;">-->

<!--                                <img th:if="*{markedAsGF}" src="../img/GlutenFree-s-logo.png" alt="pic"-->
<!--                                     style="height: 50px; width: 50px; padding-left: 5px">-->

<!--                                <img th:if="*{withoutLactose}" src="../img/LactoseFree-s-logo.png" alt="pic"-->
<!--                                     style="height: 50px; width: 50px;">-->

<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash;        </div>&ndash;&gt;-->
<!--            </div>-->

<!--        </div>-->
<!--    </section>-->
<!--</main>-->
<!--<footer th:replace="frags/footer"></footer>-->

<!--</body>-->
<!--</html>-->
